registry=https://artifactory.worldbank.org/artifactory/api/npm/itssr-itsap-npm-virtual/
//artifactory.worldbank.org/artifactory/api/npm/itssr-itsap-npm-virtual/:_authToken=cmVmdGtuOjAxOjE4MDExNjQwODY6cDRXeHRSVnl4OGc4dGxndGFvcnVpOGRkZVVt
always-auth = true